/*<!--
=====================================================
; Title: Web 450 nodebucket
; Author: Professor Krasso
; Date 31 October 2021
; Modified By: Jourdan Neal
; Description: Sprint 1 - application to sign in by employee ID, connect to MongoDB database.
=====================================================
*/
.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
/*---------------------------------------------------------------------------------------------*/

/*create-task*/
.create-container {
  width: 85%;
  margin: 3%  auto;
}

/*create-button*/
.create-button {
  border: 1px solid black;
  font-size: 25px;
  padding: 5px;
  background-color: rgb(37, 150, 190);
}

/*create-button hoover*/
.create-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

/*todo column*/
.todo-column {
  margin-right: 35px;
  /*background-color: rgb(37, 150, 190);*/
  padding: 25px;
  border: 5px rgb(37, 150, 190) solid;

}

/*done column*/
.done-column{
  /*background-color: rgb(37, 150, 190);*/
  padding: 25px;
  border: 5px rgb(37, 150, 190) solid;
}

/*Task Card*/
.task-card {
  margin-bottom:15px;
  border: 1px black solid;
  background-color: rgb(37, 150, 190);
}

/*mat-icon styling*/
.mat-icon {
  font-size: 30px;
  height: 30px ;
  width: 30px;
  color: black;
  margin: 20px;
}

.mat-card-title {
  text-decoration: underline;
  font-size: 25px;
}

.tasks{
  font-size: 15px;
}

