/*<!--
=====================================================
; Title: Web 450 nodebucket
; Author: Professor Krasso
; Date 31 October 2021
; Modified By: Jourdan Neal
; Description: Sprint 1 - application to sign in by employee ID, connect to MongoDB database.
=====================================================
*/
.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
